{% extends 'base.html' %}
<h1>Home</h1>
{% block head %}
<title>about</title>
{% endblock %}


{% block body %}
<div class="float-left">
  <div class="jumbotron">
    <h1>The Problem</h1>
    <p></p>
    <ul>
      <li>In a survey conducted by the U.S Bureau of Labor of Statistics, only about <strong>24.9 percent</strong> of American residents volunteered in 2016 (the most recent year available)</li>
      <li>The percentage of people in the United States that volunteer <strong>is declining</strong></li>
      <li><strong>Not enough people are volunteering</strong></li>
    </ul>
  <img src="https://amp.businessinsider.com/images/56cf22e66e97c660008b99cd-960-720.png" alt="Volunteering stats"
  style="width:600px;height:400px;">
  </div>
  <h1>The Fix</h1>
  <p></p>
  <ul>
    <li>Our website game-ify's the volunteering experience, it consists of:</li>
      <ul>
        <li>A way for everybody (you don't have to register) to find nearby volunteering opportunities and tasks (such as gathering food for homeless shelters), depending on the specfic person's age and interests</li>
        <li>A continuous system that encourages its users to volunteer through the application of onine badges and leaderboards stats (at the user's wish)</li>
        <li>A way for its users to donate to other NPO's through our website</li>
        <li>A seperate volunteering competition focused more rigorously on Loudoun's youth named HRS4KIDS</li>
      </ul>
  </ul>
</div>
{% endblock %}

