{% extends 'base.html' %}
<h1>Home</h1>
{% block head %}
<title>opportunities</title>
{% endblock %}


{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Mobile Hope</h1>
    <p></p>
    <ul>
      <li><strong>The website is:</strong> https://www.mobilehopeloudoun.org/</li>
      <li><strong>Contact Info:</strong> 703.771.1400</li>
      <li><strong>Address:</strong> 741 MILLER DRIVE, SUITE LEESBURG, VA 20175</li>
      <li><strong>Age Requirement:</strong> N/A</li>
      <li><strong>Any specific skills:</strong> No specific skills required</li>
      <li><strong>Possible interest fields:</strong> helping the homeless,</li>
    </ul>
  </div>
  <h1>Loudoun Hunger Relief</h1>
  <ul>
    <li><strong>The website is:</strong> https://loudounhunger.volunteerhub.com/?format=List&filter=All</li>
    <li><strong>Contact Info:</strong> cfortenberry@loudounhunger.org</li>
    <li><strong>Address:</strong> Depends on volunteer activity</li>
    <li><strong>Age Requirement:</strong> 13 and up(must be with parent or guardian)</li>
    <li><strong>Any specific skills:</strong> No specific skills required</li>
    <li><strong>Possible interest fields:</strong> helping the homeless, hungry</li>
    <li><strong>Upcoming Events:</strong> --work in progress-- </li>
  </ul>
  <div class="jumbotron">
    <h1>Homeless Animal Rescue Team</h1>
    <p></p>
    <ul>
      <li><strong>The website is:</strong> https://hart90.org/Volunteer/VolunteerUnder18.aspx</li>
      <li><strong>Contact Info:</strong> hart90office@hart90.org</li>
      <li><strong>Address:</strong> Fairfax Station, VA 22039-7261</li>
      <li><strong>Age Requirement:</strong> 13 and up(under 16 require parent or guardian)</li>
      <li><strong>Any specific skills:</strong> No specific skills required</li>
      <li><strong>Possible interest fields:</strong> animals,</li>
    </ul>
    </div>
    <h1>Inova Hospital Volunteering
    </h1>
    <ul>
      <li><strong>The website is:</strong> https://www.inova.org/get-involved/volunteer/inova-loudoun-hospital/index.jsp</li>
      <li><strong>Contact Info:</strong> kidist.estifanos@inova.org</li>
      <li><strong>Address:</strong> 22505 Landmark Court, Suite 210 Ashburn, VA 20148</li>
      <li><strong>Age Requirement:</strong> 16 and up</li>
      <li><strong>Any specific skills:</strong> No specific skills required</li>
      <li><strong>Possible interest fields:</strong> Medical</li>
      <li><strong>Upcoming Events:</strong> --work in progress-- </li>
    </ul>
    <div class="jumbotron">
      <h1>Nova Parks</h1>
      <p></p>
      <ul>
        <li><strong>The website is:</strong> https://www.novaparks.com/donate-volunteer</li>
        <li><strong>Contact Info:</strong> 703.352.5900, NOVAParks@NVRPA.org </li>
        <li><strong>Address:</strong> Northern Virginia Regional Park Authority Headquarters5400 Ox Road Fairfax Station, Virginia 22039</li>
        <li><strong>Age Requirement:</strong> none</li>
        <li><strong>Any specific skills:</strong> No specific skills required</li>
        <li><strong>Possible interest fields:</strong> nature, wildlife</li>
      </ul>
</div>

{% endblock %}

